html {
  background: linear-gradient(#036, #000);
  width: 100%;
  height: 100%;
}

body {
  display:flex;
  flex-direction: column;
  align-items: center;
}

p, h1, h2, h3, div, button {
  /*font-family: 'Audiowide', cursive;*/
  /*font-family: 'Changa One', cursive;*/
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fff;
}

h1 {
  font-family: 'Audiowide', cursive;
}

p, button, text {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin: 10px;
}

button {
  color: #000;
  height: 72px;
  width: 150px;
  font-size: 16px;
  background-color: #cccccc;
  margin-left: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

button:hover {
  background-color: #fff;
  cursor: pointer;
}

button:disabled {
  color: #f5f5f5;
}

#stop {
  font-size: 24px;
  color: #ff0000;
  font-weight: bold;
  width: 120px;
  height: 50px;
}

#stop:disabled {
  /*visibility: hidden;*/
  color: #ffffff;
}

#instructions {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 120px;
  height: 30px;
  font-weight: bold;
  color: #cccccc;
  opacity: .6;
}

#instructions:hover {
  text-decoration: underline;
  color: #ffffff;
  opacity: 1;
  cursor: pointer;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
}

.modal-content {
    background-color: #000;
    opacity: .9;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#pic {
  width:700px;
  height: 250px;
}

.close {
    float: right;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    width: 80px;
    color: #000;
    display: flex;
    background-color: #ccc;
}

.close:hover {
  background-color: #fff;
}

#welcome {
  font-size: 36px;
  font-weight: bold;
  font-family: 'Audiowide', cursive;
}

#slogan {
  font-size: 20px;
  margin-top: 5px;
  font-style: italic;
}

#directions {
  font-size: 24px;
  font-weight: bold;
  margin-top: 40px;
}

#map {
  font-size: 20px;
}

#bass {
  color: #0066ff;
}

#toms {
  color: #FC3302;
}

#snares {
  color: #37FDFC;
}

#aux {
  color: #FFA500;
}

#vocals {
  color: #ff0;
}

.title-animation {
  animation-name: stretch;
  animation-duration: .1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
}

#title {
  font-size: 64px;
  margin-bottom: 5px;
}

@keyframes stretch {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.sidebar {
    transition:all .5s ease-in-out;
    -webkit-transition:all .5s ease-in-out;
}

.sidebar {
    width:200px;
    height:800px;
    position:absolute;
    top:40px;
    left:0;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    background-color: #transparent;
    border-right: 1px solid #cccccc;
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 20px;
}

.toggle {
    position: absolute;
    left: 35px;
    top: 5px;
    width:120px;
    height:30px;
    color: #fefefe;
    opacity: .6;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
}

.toggle:hover {
  text-decoration: underline;
  color: #ffffff;
  opacity: 1;
  cursor: pointer;
}

.sidebar-collapsed {
     transform:translateX(-100%);
    -webkit-transform:translateX(-100%);
}

.sidebar-collapsed .toggle {
   background-color: #fff;
   right: -5px;
   transform:translateX(100%);
  -webkit-transform:translateX(100%);
}

.Github {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin: 20px;
}

.LinkedIn {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin: 20px;
}
